{% extends "web/views/pynance.jinja" %}
{% block content %}
    <div class="head_box">
        <div class="login_box">
            <div class="login_info">
                Invalid log-in
            </div>
            <form>
                <input type="text" placeholder="Username" style="width: 100%; box-sizing: border-box; height: 32px;" id="pynance_username"><br>
                <input type="password" placeholder="Password" style="width: 100%; box-sizing: border-box; height: 32px;" id="pynance_password"><br>
                <input type="button" value="Log-in" class="btn btn-primary" onclick="loginCheck()">
                <input type="button"value="Sign-up" class="btn">
            </form>
        </div>
        <div class="pynance_promo">
            <h1>Pynance</h1>
            <p>Manage your finances</p>
        </div>
    </div>
{% endblock %}
