{#
Template for the logged-in part of the web app. All views for those parts of the
web app that needs authentication should extends from this as much as possible.

Variables
  module_name - Text displayed at the top of the page.
  module_data - Block that extending views need to fill in.
#}
{% extends "web/views/pynance.jinja" %}
{% block content %}
    <div class="app_box">
        <h1>{{ module_name }}</h1>
        {% block module_data %}
        {% endblock %}
    </div>
{% endblock %}
