{% extends "web/views/pynance.jinja" %}
{% block content %}
    <div class="app_box">
        <h1>Dashboard</h1>
        <table id="finance_summary" class="table">
            <tr>
                <td>Total Balance:</td>
                <td>888</td>
            </tr>
        </table>
    </div>
{% endblock %}
