<!DOCTYPE html>
<html>
    <head>
        <title>Pynance Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/css/pynance.css" rel="stylesheet" media="screen">
        <script type="text/javascript" language="javascript" src="scripts/jquery-2.1.1.js"></script>
        {% for script in page_scripts %}
            <script type="text/javascript" language="javascript" src="{{ script }}"></script>
        {% endfor %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
