{#
The base template for pynance. All other templates should extend from this as
much as possible. To extend from this template, just add content to the content
block.

Variables introduced:
  page_scripts - an iterable of javascript file locations. These scripts will be
  loaded into the page.
#}
<!DOCTYPE html>
<html>
    <head>
        <title>Pynance Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/css/pynance.css" rel="stylesheet" media="screen">
        <script type="text/javascript" language="javascript" src="scripts/jquery-2.1.1.js"></script>
        {% for script in page_scripts %}
            <script type="text/javascript" language="javascript" src="{{ script }}"></script>
        {% endfor %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
